/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
	background-color: #F3F3FC;
	/* background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 ); */
}

/* header {
  text-align: center;
  background-color: #f9f7f7;
  padding-bottom: 20px;
} */

h1,
h2,
h3 {
  color: #464646;
	margin: auto;
	padding: 20px 0px;
}

h1 {
	font-size: 40px;
  font-weight: bold;
  margin-top: 0;
	text-align: center;
	margin-left: 0px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0px;
}

h3 {
  font-size: 20px;
	padding-bottom: 10px;
	text-align: center;
}

ul {
  list-style-type: square;
	list-style-position: inside;
	padding-left: 25px;
}

.highlight {
	font-size: 32px;
	font-weight: bold;
	color: #620062;
}

.highlight2 {
	font-size: 22px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.viewmore {
	color: #7A7A7A;
	text-align: left;
	display: none;
	background-color: #f4f4f4;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 15px;
	/* transition: opacity 1s ease-out;
  opacity: 0; */
}

.viewmore-button {
	cursor: pointer;
	color: #630163;
}

p {
  line-height: 1.6;
  color: #7A7A7A;
  font-size: 17px;
}

footer {
  max-width: 100%;
  padding: 10px 5% 40px 5%;
}

footer hr{
  max-width: 100%;
}

a:link {
	text-decoration: none;
	color: #464646;
	transition: 0.5s;
}

a:visited {
  text-decoration: none;
	color: #464646;
}

a:hover {
  color: #620062;
}

li {
  padding: 10px 0px;
}

#contact {
  text-align: center;
  max-width: 100%;
  padding: 30px 5%;
	background-color: #F3F3FC;
}

/* =================================
  Base Layout Styles
==================================== */

#intro {
	background-image: url("../images/background-mobile.png");
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 610px;
}

.intro {
  text-align: center;
  max-width: 100%;
  padding: 40px 5%;
	margin-left: 0;
}

.intro img{
  max-width: 70%;
}

.project-box {
  max-width: 90%;
	margin-left: 5%;
	margin-right: 5%;
  text-align: center;
  padding: 20px 0px;
}

.project-box img{
  max-width: 100%;
}

.portfolio {
  padding: 30px 0px;
}

#portfolio {
	box-shadow: 10px 2px 12px -4px rgba(191,191,191,0.48);
	background-color: #ffffff;
}

.mobile-nav2 li{
  font-weight: bold;
	list-style-type: none;
  float: right;
  color: #464646;
  padding: 30px 0px 0px 10px;
}

.copyright li{
  font-weight: bold;
	list-style-type: none;
  float: left;
  color: #464646;
  padding: 30px 10px 0px 0px;
}

.nav2 {
	display: none;
}

/* ---- Logos ---- */

.codelogo {
	padding: 15px 5px 0px 5px;
}

.logocontainer {
	text-align: center;
	padding-bottom: 15px;
}

.logo {
	padding: 30px 0;
	height: 100px;
	margin-bottom: -2px;
}

/* ---- Button---- */

.button {
    background-color: #F3F3FC;
    border: solid 1px #620062;
    color: #620062;
		/* border-radius: 5px; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		transition: 0.5s;
}

.button2 {
    background-color: #ffffff;
    border: solid 1px #620062;
    color: #620062;
		/* border-radius: 5px; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		transition: 0.5s;
}

.button:hover,
.button2:hover  {
	color:#620062;
	border: solid 1px #620062;
	opacity: 0.7;
}

.button:active,
.button2:active {
	text-decoration: none;
  background-color: #F3F3FC;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.column2 {
	padding: 20px;
}

/* =================================
  Media Queries
==================================== */

/* Tablet*/

@media (min-width: 768px) {

	#intro {
		background-position: right 0px bottom 0px;
		border-right: 20px solid transparent;
		min-height: 400px;
		background-image: url("../images/background.png");
	}

	footer {
	padding: 30px 5% 10px 5%;
	}

	h1 {
		padding-top: 80px;
		text-align: left;
	}

	.alignment {
		text-align: left;
	}

  .intro p {
    float: left;
    width: 57%;
    text-align: left;
		padding-right: 3%;
		font-size: 20px;
		margin-top: 0px;
  }

  .intro img{
    width: 40%;
		float: right;
  }

	#portfolio {
		width: 100%;
		margin: auto;
		padding-left: 5%;
		padding-right: 3%;
	}

  .project-box {
    float: left;
    width: 50%;
		margin: auto;
		padding-right: 2%;
		min-height: 550px;
  }

  #contact p{
    width: 80%;
    text-align: center;
		font-size: 17px;
    margin: auto;
    padding-bottom: 20px;
  }

	#contact li{
		font-size: 20px;
	}

/* footer navigation */

	.mobile-nav2 {
		display: none;
	}

	.nav2 {
		float: right;
		display: inline-block;
		visibility: visible;
		margin-bottom: 30px;
	}

	.nav2 li{
		display: inline-block;
		list-style-type: none;
		font-weight: bold;
		padding: 30px 0px 0px 20px;
	}

	.column2{
		float: left;
		margin: auto;
		width: 50%;
	}

}

/* Desktop */
@media (min-width: 1024px) {

	header {
		min-height: 70px;
	}

	.name-top h1{
		float: left;
		margin-left: 5%;
		padding-bottom: 0px;
	}

	.project-box {
		float: left;
		width: 33%;
		margin: auto;
		min-height: 550px;
		padding-right: 1.5%;
		padding-left: 3%
	}

	#intro {
		border-right: 50px solid transparent;
	}

	#portfolio {
		width: 100%;
		margin: auto;
		padding-left: 3%;
		padding-right: 3%;
	}

	#contact {
		border-radius: 0 0 25px 25px;
	}

	body {
		max-width: 1400px;
		margin: auto;
	}

}
